@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap");
* {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  animation: opacity 1s ease;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(70%);
  }
  70% {
    transform: translateY(80%);
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.img-container img {
  border: 1px;
  border-radius: 40px;
  height: 10%;
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
}

.text p {
  color: aliceblue;
  position: absolute;
  top: 22%;
  left: 25%;
}
.about h1 {
  position: absolute;
  left: 25%;
  top: 10%;
}

.skills {
  width: 30%;
  height: 55%;
  position: absolute;
  left: 55%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  transition: 0.6s ease-in-out;
  overflow: hidden;
}

.skills h1 {
  position: absolute;
  left: 30.5%;
  color: black;
}
.skills ul {
  list-style: armenian;
  position: absolute;
  left: 19.5%;
  top: 30%;
  color: white;
  padding: 0px;
}
.skills li {
  padding: 5px;
}

.skills:hover {
  transform: translateY(-20px);
}

.intro-mess h1 {
  position: absolute;
  left: 65%;
  top: 2%;
}

.prog-lang {
  width: 30%;
  height: 55%;
  position: absolute;
  left: 20%;
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.prog-lang li {
  list-style: none;
  padding: 5px;
  position: relative;
  left: 20%;
  font-size: x-large;
  display: flex;
}
.prog-lang:hover {
  transform: translateY(-20px);
}
.prog-lang .list1 {
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 25%;
  margin-right: 0%;
  border-radius: 20px;
  padding-left: 7.5px;
  margin-bottom: 0;
  position: relative;
  left: -6%;
  background-color: pink;
  margin-top: -5%;
  color: rgb(56, 55, 55);
}
.prog-lang .list2 {
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 16.9%;
  margin-left: 0%;
  border-radius: 20px;
  padding-left: 6.5px;
  position: relative;
  left: 8%;
  background-color: darkslategrey;
  margin-top: 1%;
  color: antiquewhite;
}
.prog-lang .list3 {
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 25%;
  margin-left: 0%;
  padding-left: 10px;
  border-radius: 20px;
  position: relative;
  left: 20%;
  background-color: #faad1b;
  margin-top: 0.5%;
  color: black;
}
.prog-lang .list4 {
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 30%;
  margin-left: 0%;
  padding-left: 10px;
  border-radius: 20px;
  position: relative;
  left: 45%;
  margin-top: -2%;
  background-color: #d7b474;
  color: black;
}
.educ {
  width: 30%;
  height: 55%;
  position: absolute;
  top: 120%;
  left: 55%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  transition: 0.6s ease-out;
  overflow: hidden;
}
.educ h1 {
  position: relative;
  left: 22.5%;
  color: black;
}
.educ li {
  list-style: armenian;
  padding: 5px;
  color: white;
}
.educ:hover {
  transform: translateY(-20px);
}

.per-info {
  width: 30%;
  height: 55%;
  position: absolute;
  top: 120%;
  left: 20%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  transition: 0.6s ease-in-out;
  overflow: hidden;
}
.per-info h1 {
  position: absolute;
  color: black;
}
.per-info li {
  list-style: armenian;
  padding: 1px;
  color: white;
}
.per-info:hover {
  transform: translateY(-20px);
}

.expr {
  position: absolute;
  top: 187%;
  left: 20%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  width: 30%;
  height: 50%;
  transition: 0.6s ease-in-out;
  overflow: hidden;
}
.expr h1 {
  position: relative;
  left: -20%;
  color: black;
}
.expr li {
  list-style: armenian;
  padding: 1px;
  color: white;
}
.expr:hover {
  transform: translateY(-20px);
}

.awards {
  width: 30%;
  height: 50%;
  position: absolute;
  top: 187%;
  left: 55%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  transition: 0.6s ease-in-out;
  overflow: hidden;
}
.awards h1 {
  position: absolute;
  color: black;
}
.awards li {
  list-style: armenian;
  padding: 1px;
  color: white;
}
.awards:hover {
  transform: translateY(-20px);
}

.PerInf-icon img {
  position: absolute;
  top: 120%;
  left: 12%;
  animation: Mymove 1s ease-in infinite;
}
@keyframes Mymove {
  0% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}
.prog-langIcon img {
  position: absolute;
  top: 53.5%;
  left: 12%;
  animation: Mymove 1s ease-in-out infinite;
}
@keyframes Mymove {
  0% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}

.SkillsIcon img {
  position: absolute;
  top: 53.5%;
  left: 84.8%;
  animation: Mymove 1s ease-in-out infinite;
}
@keyframes Mymove {
  0% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}

.educ-icon img {
  position: absolute;
  top: 120%;
  left: 84.8%;
  animation: Mymove 1s ease-in-out infinite;
}
@keyframes Mymove {
  0% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}
.expr-icon img {
  position: absolute;
  top: 189%;
  left: 12%;
  animation: Mymove 1s ease-in-out infinite;
}
@keyframes Mymove {
  0% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}
.award-icon img {
  position: absolute;
  top: 190%;
  left: 84.8%;
  animation: Mymove 1s ease-in-out infinite;
}
@keyframes Mymove {
  0% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}

li {
  padding: 2%;
}
li::marker {
  content: "💻";
}
