@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap');
*{
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  animation: opacity 1s ease ;
}
@keyframes opacity {
  0%{opacity: 0;}
  50%{transform: translateX(70%);}
  70%{transform: translateY(80%);}
  80%{opacity: 0.9;}
  100%{opacity: 1;}
 
 }
 


.img-container img {
  border: 1px;
  border-radius: 40px;
  height: 10%;
  clip-path: circle(50% at 50% 50%);
   shape-outside: circle(50% at 50% 50%);
}



body {
  background-color:  #d26181;
}
.text p {
  color: aliceblue;
  position: absolute;
  top: 30%;
  left: 25%;
}
.about h1{
  position: absolute;
  left:25%;
  top: 10%;
}

.skills {
  width: 30%;
  height: 55%;
  position: absolute;
  left: 55%;
  -webkit-backdrop-filter: blur(10px);  
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  border-radius: 20px;
  transition: 1s ease-out;
}


.skills h1 {
  position: absolute;
  left: 30.5%;
  color: black;
}
.skills ul  {
  list-style:armenian;
  position: absolute;
  left: 19.5%;
  top: 30%;
  color: white;
  padding: 0px;
}
.skills li{
  padding: 5px;
}

.skills:hover{
    transform: rotateX(360deg);
}

.intro-mess h1{
    position: absolute;
    left: 65%;
    top: 7%;
}

.prog-lang {
  width: 30%;
  height: 55%;
  position: absolute;
  left: 20%;
  -webkit-backdrop-filter: blur(10px);  
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  border-radius: 20px;
  transition: 1s ease-in-out;
}



.prog-lang h1{
  position: relative;
  left: 15.5%;
  color: black;
}
.prog-lang li{
  list-style: none;
  padding: 5px;
   position: relative;
   left: 20%;
   font-size: x-large;
   display: flex;
 
}
.prog-lang:hover{
    transform: rotateX(360deg);
  backdrop-filter: blur(10px);
    

    
}
.prog-lang .list1 {
  border: 1px solid rgba(255,255,255,0.18);
  width: 25%;
margin-right: 0%;
border-radius: 20px;
padding-left: 7.5px;
position: relative;
left: -6%;
top: 50%;
bottom: 30%;
 background-color: pink;
 color: rgb(56, 55, 55);
}
.prog-lang .list2{
  border: 1px solid rgba(255,255,255,0.18);
  width: 16.9%;
margin-left: 0%;
border-radius: 20px;
padding-left: 6.5px;
position: relative;
left: 8%;
top: 9%;
 background-color: darkslategrey;
 color: antiquewhite;
}
.prog-lang .list3{
  border: 1px solid rgba(255,255,255,0.18);
  width: 25%;
margin-left: 0%;
padding-left: 10px;
border-radius: 20px;
position: relative;
left: 28%;
 background-color: #faad1b;
 color: black;
}
  .educ{
    width: 30%;
    height: 55%;
    position: absolute;
    top: 120%;
    left: 55%;
    -webkit-backdrop-filter: blur(10px);  
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border-radius: 20px;
    transition: 1s ease-out;
  }
  .educ h1{
  position: relative;
  left: 22.5%;
  color: black;
}

.per-info{
  width: 30%;
  height: 55%;
  position: absolute;
  top: 120%;
  left: 20%;
  -webkit-backdrop-filter: blur(10px);  
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  border-radius: 20px;
  transition: 1s ease-out;
}
.per-info h1{
  position: relative;
  left: 4.5%;
  color: black;
}
.per-info li{
  list-style: armenian;
  padding: 5px;
  color: white;
}






.expr{
  position: absolute;
  top: 200%;
  left: 11.5%;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  border-radius: 40px;
  width: 75%;
  height: 50%;

}
.expr p{
  text-align: center;
}
.expr ul{
  position: absolute;
  left: 30%;
 list-style-type: circle;
}
.expr li{
padding: 5px;

}
