.img-container img {
  border: 1px solid gray;
  border-radius: 40px;
  height: 100%;
  /* shape-outside: ; */
}
body {
  background-color: black;
}
.text p {
  color: aliceblue;
  position: absolute;
  top: 20%;
  left: 25%;
}
.skills {
  width: 23%;
  height: 50%;
  position: absolute;
  left: 72%;
}
.skills h1 {
  position: absolute;
  left: 41.5%;
  color: white;
}
.skills li {
  list-style: none;
  position: absolute;
  left: 41.5%;
  top: 30%;
  color: white;
  padding: 10px;
}
