@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend:wght@100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap");
* {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ashing;
  src: url(assets/Ahsing-Regular.otf);
}

:root {
  --color1: #f6f1e3;
  --color2: #344c36;
  --color3: #faad1b;
  --color4: #f1603c;
  --color5: black;
  --color6: #dbd2c1;
}

body {
  background-color: var(--color2);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.intro-message p {
  font-family: ashing;
  display: flex;
  position: absolute;
  left: 10%;
  color: var(--color2);
  font-size: 420%;
  background-color: var(--color3);
  border-radius: 5rem;
  padding: 4%;
  box-shadow: 0px 0px 2.5rem rgb(54, 94, 60);
  letter-spacing: 2px;
}

.navs ul {
  display: flex;
  position: relative;
  left: 70%;
}
.navs li {
  padding: 15px;
  list-style: none;
  border-radius: 15px;
}
.navs a {
  color: var(--color1);
  font-weight: 300;
  text-decoration: none;
  font-size: larger;
  transition: color 0.6s ease-in-out;
  padding: 2px;
}
.navs a:hover {
  color: black;
  background-color: #faad1b;
  border-radius: 30px;
}

.profile-card {
  width: 350px;
  background-color: var(--color2);
  overflow: hidden;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

.background-section {
  background-color: var(--color2);
  height: 350px;
  position: relative;
}

.background-section img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 150;
  height: auto;
}

.contact-section {
  background-color: var(--color5);
  color: var(--color1);
  padding: 20px;
}

.contact-section h2 {
  font-family: ashing;
  font-size: 22px;
  margin: 0 0 15px;
  letter-spacing: 2.5px;
}

.contact-section p {
  margin: 8px 0;
  font-size: 14px;
}

.contact-section p strong {
  color: var(--color3);
}

footer {
  text-align: center;
  margin: auto;
}

.coders p {
  transform: rotate(325deg);
  color: white;
  font-size: x-large;
  font-family: ashing;
  letter-spacing: 4px;
  position: absolute;
  left: 10%;
}

p img {
  border: 1px solid;
  width: 20%;
  height: 40%;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  top: 120%;
}
.raympfp:hover {
  height: 70%;
}
.raympfp p {
  position: absolute;
  top: 130%;
  left: 30%;
  color: var(--color1);
  letter-spacing: 5px;
  border: 1px solid transparent;
  background-color: var(--color1);
  color: black;
  width: 40%;
  height: 15%;
  border-radius: 50px 9px 25px;
  font-size: 15px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mikapfp img {
  border: 1px solid;
  width: 20%;
  height: 40%;
  border-radius: 70%;
  position: absolute;
  left: 70%;
  top: 160%;
}
.mikapfp p {
  position: absolute;
  top: 170%;
  left: 25%;
  color: var(--color1);
  letter-spacing: 1px;
  border: 1px solid white;
  background-color: transparent;
  color: black;
  width: 40%;
  height: 15%;
  border-radius: 50px 100px 10px;
  font-size: 15px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rodianpfp img {
  border: 1px solid;
  width: 20%;
  height: 40%;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  top: 200%;
}
.rodianpfp p {
  position: absolute;
  top: 210%;
  left: 30%;
  color: var(--color1);
  letter-spacing: 5px;
  border: 1px solid transparent;
  background-color: var(--color1);
  color: black;
  width: 40%;
  height: 15%;
  border-radius: 50px 9px 25px;
  font-size: 15px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tanpfp img {
  border: 1px solid;
  width: 20%;
  height: 40%;
  border-radius: 70%;
  position: absolute;
  left: 70%;
  top: 240%;
}
.tanpfp p {
  position: absolute;
  top: 250%;
  left: 25%;
  color: var(--color1);
  letter-spacing: 1px;
  border: 1px solid white;
  background-color: transparent;
  color: black;
  width: 40%;
  height: 15%;
  border-radius: 50px 100px 10px;
  font-size: 15px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.button-next button {
  position: absolute;
  top: 70%;
  left: 44%;
  width: 10%;
  height: 10%;
  border: solid rgb(121, 119, 119);
  border-radius: 10%;
  background-color: #344c36;
  z-index: 4;
  transition: scale 2s;
}
.button-next a {
  text-decoration: none;
  color: white;
  font-size: larger;
}
.button-next button:hover {
  scale: 120%;
  background-color: var(--color3);
  color: aliceblue;
}
